# requirements.txt
#Librerias necesarias para el proyecto django
django
djangorestframework

# Librerias necesarias para el proyecto con fastapi
fastapi[standard]

# Librerias necesarias para el proyecto con fastapi y django
whitenoise

# Librerria para fastapi para limitar la cantidad de peticiones
slowapi